{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
        <h1>Etudiants list</h1>
        <div class="input-field col s12 m6 offset-m1">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    {{ form_start(form, {'attr': {'id': 'form_import'}}) }}
                    <div class="row">
                        <div class="file-field input-field">
                        <div class="btn">
                        <span>Fichier CSV</span>
                            {{ form_widget(form.submitFile) }}
                        </div>
                        <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                        </div>
                    </div>

                    <div class="file-field input-field col s12">
                        {{ form_widget(form.save, {'attr':{'class':'btn right'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        </div>
<div class="col s10 offset-s1">
<a class=" btn-large waves-effect waves-light red "  href="{{ path('etudiant_new') }}">Ajouter un étudiant</a>
    <table class="order-column stripe hover datatable">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Promotion</th>
                <th>Groupe</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.nom }}</td>
                <td>{{ etudiant.prenom }}</td>
                <td>{{ etudiant.promotion }}</td>
                <td>{% if etudiant.groupe %}<a href="{{ path('groupe_show', { 'id':  etudiant.groupe.getId }) }}">{{ etudiant.groupe.getNom }}</a>{% endif %}</td>
                <td>
                    <ul>
                        <a class="btn-floating btn-large " href="{{ path('etudiant_show', { 'id': etudiant.id }) }}">
                          <i class="large material-icons">info</i>
                        </a>
                        <a class="btn-floating btn-large blue" href="{{ path('etudiant_edit', { 'id': etudiant.id }) }}">
                          <i class="large material-icons">mode_edit</i>
                        </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>        
    </table>
</div>
{% endblock %}


