<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link href="{{asset('css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{{asset('css/custom.css')}}" type="text/css" rel="stylesheet"/>
        <link href="{{asset('css/datatables.min.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <nav>
    		<div class="nav-wrapper #00c853 green">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    		  <a href="{{ path('lpmr_app_homepage') }}" class="brand-logo"><img src="{{ asset('images/pasteur.png') }}" alt="" height="64"/></a>
    		  <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ path('lpmr_app_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('etudiant_index') }}">Etudiants</a></li>
            <li><a href="{{ path('groupe_new') }}">Groupe</a></li>
            <li><a href="historique.html">Historique</a></li>
            <li><a href="{{ path('scenario_index') }}">Scenario</a></li>
            {% if app.user  %}
              <li><a href="login">Déconnexion</a></li>
            {% else %}
              <li><a href="login">Connexion</a></li>
            {% endif %}

          </ul>

          <ul class="side-nav" id="mobile-demo">
            <li><a href="{{ path('lpmr_app_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('etudiant_index') }}">Etudiants</a></li>
            <li><a href="{{ path('groupe_new') }}">Groupe</a></li>
            <li><a href="historique.html">Historique</a></li>
            <li><a href="{{ path('scenario_index') }}">Scenario</a></li>
            {% if app.user %}
              <li><a href="login">Déconnexion</a></li>
            {% else %}
              <li><a href="login">Connexion</a></li>
            {% endif %}
          </ul>


    		</div>
  		</nav>

      <div class="row conteneur">
        {% block body %}{% endblock %}
      </div>
    </body>
</html>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{asset('js/materialize.js')}}"></script>
<script src="{{asset('js/init.js')}}"></script>
<script src="{{asset('js/datatables.min.js')}}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script>
  $(".button-collapse").sideNav();
  $(document).ready(function() {
  $('select').material_select();
});
</script>
  {% block javascripts %}{% endblock %}
