{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row">
  <h1>Suivi des groupes</h1>
  
      <table  class="striped datatable col s12 l12 m12" >
        <thead>
            <tr>
                <th>Nom</th>
                <th>Avancement</th>
                <th>Statut</th>
                <th>Temps</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in groupes %}
            <tr id="groupe{{groupe.id}}" data-id="{{groupe.id}}">
                {% if groupe.launchedAt %}
                    <input type="hidden" value="{{groupe.id}}" data-launchedAt="{{groupe.launchedAt}}">
                {% endif %}
                <td> {{groupe.nom}} </td>
                <td class="avancement">ava{{groupe.id}}</td>
                <td class="statut"> {% if groupe.activated %}Activé{% else %}Desactivé{% endif %} </td>
                <td  id="timer{{groupe.id}}">
                {% if groupe.activated %}
                
                {% else %}
                00:00:00
                {% endif %}
                </td>
                <td class="action">
                    <a class="btn-floating btn-large " href="{{ path('groupe_show', { 'id': groupe.id }) }}">
                      <i class="large material-icons">info</i>
                    </a>
                    <button class="launchButton btn right">Lancer</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
      
      
  </div>
</div>


{% endblock %}
{% block javascripts %}
<script src="{{asset('js/scripts/groupe.js')}}"></script>

{% endblock %}