{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
    <h1>list des groupes</h1>
    <div class="chip righ-align">
        Nombre d'etudiant: {% if studentLength %} {{studentLength}} {% else %}0{% endif %}
    </div>

    <table  class="striped datatable col s12 l12 m12" >
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nbpointglobal</th>
                <th>Annee</th>
                <th>Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in groupes %}
            <tr>
                <td>{{ groupe.nom }}</td>
                <td>{{ groupe.nbpointglobal }}</td>
                <td>{% if groupe.annee %}{{ groupe.annee|date('Y') }}{% endif %}</td>
                <td>{{ groupe.code }}</td>
                <td>
                    <a class="btn-floating btn-large " href="{{ path('groupe_show', { 'id': groupe.id }) }}">
                      <i class="large material-icons">info</i>
                    </a>
                    <a class="btn-floating btn-large blue" href="{{ path('groupe_edit', { 'id': groupe.id }) }}">
                      <i class="large material-icons">mode_edit</i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn-floating btn-large waves-effect waves-light red" href="{{ path('groupe_new') }}"><i class="material-icons">add</i></a>
    </div>
</div>
{% endblock %}
