{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
    <h1>list des groupes</h1>
    <div class="col l7">
        <div class="chip righ-align">
            Nombre d'etudiant: {% if students|length > 0 %} {{students|length}} {% else %}0{% endif %}
        </div>
        <div class="chip righ-align">
            Nombre d'etudiant sans groupe: 
            {% if studentsWithoutGroup|length > 0 %} {{studentsWithoutGroup|length}} {% else %}0{% endif %}
        </div>
    </div>
    <div class="col l5">
        {{form_start(formGenerate)}}
            {{form_widget(formGenerate.nbStudents, {'attr':{"class": "col s8"}})}}
            {{form_widget(formGenerate.generate, {'attr':{"class": "col s4 waves-effect waves-light btn"}})}}
        {{form_end(formGenerate)}}
    </div>
    <table  class="striped datatable col s12 l12 m12" >
        <thead>
            <tr>
                <th>Nom</th>
                <th>Code</th>
                <th>Nb personne</th>
                <th>Activer</th>
                <th>Annee</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in groupes  %}
            <tr>
                <td> {{groupe.nom}} </td>
                <td>{{ groupe.code }}</td>
                <td>{{ groupe.etudiants|length }}</td>
                <th> {% if groupe.activated %}oui {% else %} non {% endif %}  </th>
                <td>{% if groupe.annee %}{{ groupe.annee|date('Y') }}{% endif %}</td>
                <td>
                    <a class="btn-floating btn-large " href="{{ path('groupe_show', { 'id': groupe.id }) }}">
                      <i class="large material-icons">info</i>
                    </a>
                    <a class="btn-floating btn-large blue" href="{{ path('groupe_edit', { 'id': groupe.id }) }}">
                      <i class="large material-icons">mode_edit</i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn-floating btn-large waves-effect waves-light red" href="{{ path('groupe_new') }}"><i class="material-icons">add</i></a>
    </div>
</div>
{% endblock %}
