{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
    <h1>Editer Element</h1>
{% set mediaType = element.url|split('.') %} 
<div class="col s12">
{% if element.url %}
  {% if mediaType[1] == 'mp4'%}
  <video class="responsive-img col l6 offset-l3" controls>
    <source src="{{ asset('uploads/elements/' ~ element.url) }}" type="video/mp4">
  Your browser does not support the video tag.
  </video> 
  {% else %}
        <img class="responsive-img col l6 offset-l3" src="{{ asset('uploads/elements/' ~ element.url) }}">
  {% endif %}
{% endif %}
</div>

    <div class="row">
      {{ form_start(edit_form) }}
      {{ form_widget(edit_form) }}
      <button class="btn-floating btn-large blue" type="submit" href="{{ path('element_edit', { 'id': element.id }) }}">
            <i class="large material-icons">mode_edit</i>
        </button>
      {{ form_end(edit_form) }}
    </div>
  </div>
</div>
{% endblock %}
