{% extends 'base.html.twig' %}

{% block body %}
    <h1>Scenario list</h1>

        <!-- Liste des scénarios -->
        <div class="row">
          <div class="col s12"></div>
            {% for scenario in scenarios %}
                <div class="col s12 m3 l2">
                    <div class="card">
                        <div class="card-image">
                            <img src="../../images/cluedo.jpg">
                        </div>
                        <div class="card-content" style="text-align:center;">
                            <input name='radio_scenarios' type="radio" value="{{ scenario.titre }}" id="sce_{{ scenario.id }}" />
                            <label for='sce_{{ scenario.id }}'>{{ scenario.titre }}</label>
                        </div>
                        <div class="card-action" style="text-align:center;">
                            <a class="btn-floating btn-large " href="{{ path('scenario_show', { 'id': scenario.id }) }}">
                                <i class="large material-icons">info</i>
                            </a>
                            <a class="btn-floating btn-large blue" href="{{ path('scenario_edit', { 'id': scenario.id }) }}">
                                <i class="large material-icons">mode_edit</i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Liste des scénarios -->

        <div class="row" >
          <div class="col s12"></div>
            <ul class="collapsible blue-grey" data-collapsible="accordion">
              <!-- Liste des armes -->
              <li>
                <div class="collapsible-header "><i class="material-icons circle">highlight_off</i>Armes</div>
                <div class="collapsible-body #eeeeee grey lighten-3" >
                  <div class="row">
                    {% for element in elements %}
                        {% if(element.fkCategorieElement.id==1) %}
                          <div class="col s12 m3 l2">
                              <div class="card">
                                  <div class="card-image">
                                      <img src="../../images/rj45.jpg">
                                  </div>
                                  <div class="card-content" style="text-align:center;">
                                      <input name='check_armes' type="checkbox" id="arme_{{ element.id }}"   />
                                      <label for='arme_{{ element.id }}'>{{ element.nom }}</label>
                                  </div>
                                  <div class="card-action" style="text-align:center;">
                                      <a class="btn-floating btn-large " href="{{ path('element_show', { 'id': element.id }) }}">
                                          <i class="large material-icons">info</i>
                                      </a>
                                      <a class="btn-floating btn-large blue" href="{{ path('element_edit', { 'id': element.id }) }}">
                                          <i class="large material-icons">mode_edit</i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                        {% endif %}
                    {% endfor %}
                  </div>
                  <a class="btn-floating waves-effect waves-light red"  href="{{ path('element_new', { 'id': 1 }) }}"><i class="material-icons">add</i></a>
                </div>
              </li>
              <!-- Liste des armes -->
              <!-- Liste des lieux -->
              <li>
                <div class="collapsible-header"><i class="material-icons circle ">room</i>Lieux</div>
                <div class="collapsible-body #eeeeee grey lighten-3" >
                  <div class="row">
                    {% for element in elements %}
                        {% if(element.fkCategorieElement.id==3) %}
                          <div class="col s12 m3 l2">
                              <div class="card">
                                  <div class="card-image">
                                      <img src="../../images/map.png">
                                  </div>
                                  <div class="card-content" style="text-align:center;">
                                      <input name='check_lieux' type="checkbox" id="lieu_{{ element.id }}" />
                                      <label for='lieu_{{ element.id }}'>{{ element.nom }}</label>
                                  </div>
                                  <div class="card-action" style="text-align:center;">
                                      <a class="btn-floating btn-large " href="{{ path('element_show', { 'id': element.id }) }}">
                                          <i class="large material-icons">info</i>
                                      </a>
                                      <a class="btn-floating btn-large blue" href="{{ path('element_edit', { 'id': element.id }) }}">
                                          <i class="large material-icons">mode_edit</i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                        {% endif %}
                    {% endfor %}
                  </div>
                  <a class="btn-floating waves-effect waves-light red"  href="{{ path('element_new', { 'id': 3 }) }}"><i class="material-icons">add</i></a>
                </div>
              </li>
              <!-- Liste des lieux -->
              <!-- liste des personages -->
              <li>
                <div class="collapsible-header"><i class="material-icons circle">person</i>Personnages</div>
                <div class="collapsible-body #eeeeee grey lighten-3" >
                  <div class="row">
                    {% for element in elements %}
                        {% if(element.fkCategorieElement.id==2) %}
                          <div class="col s12 m3 l2">
                              <div class="card">
                                  <div class="card-image">
                                      <img src="../../images/person.png">
                                  </div>
                                  <div class="card-content" style="text-align:center;">
                                      <input name='check_persos' type="checkbox" id="perso_{{ element.id }}" />
                                      <label for='perso_{{ element.id }}'>{{ element.nom }}</label>
                                  </div>
                                  <div class="card-action" style="text-align:center;">
                                      <a class="btn-floating btn-large " href="{{ path('element_show', { 'id': element.id }) }}">
                                          <i class="large material-icons">info</i>
                                      </a>
                                      <a class="btn-floating btn-large blue" href="{{ path('element_edit', { 'id': element.id }) }}">
                                          <i class="large material-icons">mode_edit</i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                        {% endif %}
                    {% endfor %}
                  </div>
                  <a class="btn-floating waves-effect waves-light red"  href="{{ path('element_new', { 'id': 2 }) }}"><i class="material-icons">add</i></a>
                </div>
              </li>
              <!-- liste des personnages -->
            </ul>
          </div>
        </div>
        <!-- Liste des éléments -->

    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large waves-effect waves-light red" href="{{ path('scenario_new') }}"><i class="large material-icons">add</i></a>
    </div>
{% endblock %}
