{% extends '::base.html.twig' %}
{% block body %}
    <h1>Scenario list</h1>

        <!-- Liste des scénarios -->
        <div class="row">
          <div class="col s12"></div>
            {% for scenario in scenarios %}
                <div class="col s12 m3 l2">
                    <div class="card">
                        <div class="card-image">
                            <img src="../../images/cluedo.jpg">
                        </div>
                        <div class="card-content" style="text-align:center;">
                        {% if scenario.selectedScenario == true %}
                        <input type="hidden" id="selectedScenario" name="selectedScenario" value="{{ scenario.id }}"/>
                            <input name='radio_scenarios' type="radio" value="{{ scenario.id }}" id="sce_{{ scenario.id }}"  checked/>
                        {% else %}
                            <input name='radio_scenarios' type="radio" value="{{ scenario.id }}" id="sce_{{ scenario.id }}"  />
                        {% endif %}
                            
                            <label for='sce_{{ scenario.id }}'>{{ scenario.titre }}</label>
                        </div>
                        <div class="card-action" style="text-align:center;">
                            <a class="btn-floating btn-large " href="{{ path('scenario_show', { 'id': scenario.id }) }}">
                                <i class="large material-icons">info</i>
                            </a>
                            <a class="btn-floating btn-large blue" href="{{ path('scenario_edit', { 'id': scenario.id }) }}">
                                <i class="large material-icons">mode_edit</i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Liste des scénarios -->

        <div class="row " >
          <div class="col s12"></div>
            <ul class="collapsible blue-grey" data-collapsible="accordion">
              <!-- Liste des armes -->
              <li>
                <div class="collapsible-header "><i class="material-icons circle">highlight_off</i>Armes</div>
                <div class="collapsible-body #eeeeee grey lighten-3" >
                  <div class="row">
                    {% for element in elements %}
                        {% if(element.fkCategorieElement.nom == "Armes") %}
                          <div class="col s12 m3 l2">
                              <div class="card">
                                  <div class="card-image">
                                      <img src="{{asset('images/rj45.jpg')}}">
                                  </div>
                                  <div class="card-content" style="text-align:center;">
                                      <input class="checkElement" name='check_armes' type="checkbox" id="element_{{ element.id }}" value="{{ element.id }}"  />
                                      <label for='element_{{ element.id }}'>{{ element.nom }}</label>
                                    <div>
                                        <input class="radio_elements" name='radio_elements_arme' type="radio" value="{{ element.id }}" id="ele_{{ element.id }}"  />
                                       <label for='ele_{{ element.id }}'>Arme du crime</label>
                                    </div>
                                  </div>
                                  <div class="card-action" style="text-align:center;">
                                      <a class="btn-floating btn-large " href="{{ path('element_show', { 'id': element.id }) }}">
                                          <i class="large material-icons">info</i>
                                      </a>
                                      <a class="btn-floating btn-large blue" href="{{ path('element_edit', { 'id': element.id }) }}">
                                          <i class="large material-icons">mode_edit</i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                        {% endif %}
                    {% endfor %}
                  </div>
                  <a class="btn-floating waves-effect waves-light red"  href="{{ path('element_new', { 'id': 1 }) }}"><i class="material-icons">add</i></a>
                </div>
              </li>
              <!-- Liste des armes -->
              <!-- Liste des lieux -->
              <li>
                <div class="collapsible-header"><i class="material-icons circle ">room</i>Lieux</div>
                <div class="collapsible-body #eeeeee grey lighten-3" >
                  <div class="row">
                    {% for element in elements %}
                        {% if(element.fkCategorieElement.nom == "Lieux") %}
                          <div class="col s12 m3 l2">
                              <div class="card">
                                  <div class="card-image">
                                      <img src="{{asset('images/map.png')}}">
                                  </div>
                                  <div class="card-content" style="text-align:center;">
                                   
                                      <input name='check_lieux' type="checkbox" id="element_{{ element.id }}"  class="checkElement" value="{{ element.id }}"/>
                                      <label for='element_{{ element.id }}'>{{ element.nom }}</label>
                                      <div>
                                       <input class="radio_elements" name='radio_elements_lieux' type="radio" value="{{ element.id }}" id="ele_{{ element.id }}"  />
                                       <label for='ele_{{ element.id }}'>Lien du crime</label>
                                      </div>
                                  </div>
                                  <div class="card-action" style="text-align:center;">
                                      <a class="btn-floating btn-large " href="{{ path('element_show', { 'id': element.id }) }}">
                                          <i class="large material-icons">info</i>
                                      </a>
                                      <a class="btn-floating btn-large blue" href="{{ path('element_edit', { 'id': element.id }) }}">
                                          <i class="large material-icons">mode_edit</i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                        {% endif %}
                    {% endfor %}
                  </div>
                  <a class="btn-floating waves-effect waves-light red"  href="{{ path('element_new', { 'id': 3 }) }}"><i class="material-icons">add</i></a>
                </div>
              </li>
              <!-- Liste des lieux -->
              <!-- liste des personages -->
              <li>
                <div class="collapsible-header"><i class="material-icons circle">person</i>Personnages</div>
                <div class="collapsible-body #eeeeee grey lighten-3" >
                  <div class="row">
                    {% for element in elements %}
                        {% if(element.fkCategorieElement.nom == "Personnages") %}
                          <div class="col s12 m3 l2">
                              <div class="card">
                                  <div class="card-image">
                                      <img src="{{asset('images/person.png')}}">
                                  </div>
                                  <div class="card-content" style="text-align:center;">
                                      <input name='check_persos' type="checkbox" id="element_{{ element.id }}" class="checkElement" value="{{ element.id }}"/>
                                      <label for='element_{{ element.id }}'>{{ element.nom }}</label>
                                      <div>
                                        <input class="radio_elements" name='radio_elements_perso' type="radio" value="{{ element.id }}" id="ele_{{ element.id }}"  />
                                       <label for='ele_{{ element.id }}'>Coupable</label>
                                      </div>
                                  </div>
                                  <div class="card-action" style="text-align:center;">
                                      <a class="btn-floating btn-large " href="{{ path('element_show', { 'id': element.id }) }}">
                                          <i class="large material-icons">info</i>
                                      </a>
                                      <a class="btn-floating btn-large blue" href="{{ path('element_edit', { 'id': element.id }) }}">
                                          <i class="large material-icons">mode_edit</i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                        {% endif %}
                    {% endfor %}
                  </div>
                  <a class="btn-floating waves-effect waves-light red"  href="{{ path('element_new', { 'id': 2 }) }}"><i class="material-icons">add</i></a>
                </div>
              </li>
              <!-- liste des personnages -->
            </ul>
          </div>
        </div>
        <!-- Liste des éléments -->

    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large waves-effect waves-light red" href="{{ path('scenario_new') }}"><i class="large material-icons">add</i></a>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/scripts/scenario.js')}}"></script>
{% endblock %}